/*====================
	Global Styles
======================
*/
body { padding-top: 50px; }

.green{
	color: green;
}

.nkeksi-green{
	color:#4CAF50;
}

.red{
	color:  #b30000;
}

/*====================
	Navigation Bar
======================
*/

.logo-title{
  color:#4CAF50;
  font-size:30px;
}


.header-btn , .header-btn:hover{

  background-color:#4CAF50;
  color: white;
  margin:10px 4px 2px 2px;
  border-radius: 6px;

}


/*====================
	HANDLING MODALS
======================
*/

.close , .close:hover{
	opacity: 1;
}

.modal-title{
	color: #4CAF50;

}

.form-modal{
	background:none;
border-radius: 0;
border: 0px transparent;
border-bottom:2px solid #4CAF50;
 -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, .075);
          box-shadow: inset 0 0 0 rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .0s, -webkit-box-shadow ease-in-out .0s;
       -o-transition: border-color ease-in-out .0s, box-shadow ease-in-out .0s;
          transition: border-color ease-in-out .0s, box-shadow ease-in-out .0s;

}

.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.075), 0 0 0px rgba(102, 175, 233, .6);
          box-shadow: inset 0 0px 0px rgba(0,0,0,.075), 0 0 0px rgba(102, 175, 233, .6);
}

.signButton{
	border: 1px solid green;
	background-color: #4CAF50;
	color: white;
	border-radius: 5px;

}
/*====================
	CAROSEL ROW
======================
*/

.carousel-inner{
	height: 350px;
	 border-bottom: 4px solid transparent;
    -webkit-border-image: url("../images/food-1155129_1920.jpg") 80 round; /* Safari 3.1-5 */
    -o-border-image: url("../images/food-1155129_1920.jpg") 80 round; /* Opera 11-12.1 */
    border-image: url("../images/food-1155129_1920.jpg") 80 round;

}

.item{
	height: 350px;
}

#slide1{
	background: #000 url("../images/food-1155129_1920.jpg") top center;
	opacity: 0.7;
}

#slide2{
	background: #000 url("../images/cake-219595_1920.jpg") top center;
	opacity: 0.7;
}

#slide3{
	background: #000 url("../images/food-1631727_1920.jpg") bottom right;
	opacity: 0.7;
}

#slide4{
	background: #000 url("../images/food-715539_1920.jpg") top center;
	opacity: 0.7;
}

#slide5{
	background: #000 url("../images/korean-cabbage-in-chili-sauce-1120406_1920.jpg") bottom center;
	opacity: 0.7;
}

.carousel-foreground{
	position: absolute;
	top:100px;
	color: white;
	
}

.carousel-foreground h1{

	text-transform: uppercase;
	font-size: 26px;
	font-weight: bold;

}

.carousel-foreground  hr{
border: 2px solid #4CAF50;

}

.carousel-foreground  p{
border: 2px solid #4CAF50;

}


.indicators li{
  background-color:#4CAF50;
  
}
/*====================
	DIV OF LOGO
======================
*/

#div-of-logo{
	
	margin-top: -60px;

}

.thumbnail{
	border: 0;
}

/*====================
DIV OF VIDEO TUTORIALS
======================
*/

#div-videotutorials{
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #4CAF50;
	color: white;
}


h3#testimonial-heading{
	color: green;
	line-height: 7px;
}

.special-line hr{

	border: 1px solid #4CAF50;

}



/*====================
	FOOTER
======================
*/
#top-page-link{
	width: 50px;
	height: 30px;
	background-color: white;
	border-bottom-right-radius: 30px;
	border-bottom-left-radius: 30px;
	color: black;
}

#top-page-link a{
	text-decoration: none;
	color: black;
	font-size: 16px;
	font-weight: bold;
}

.footerdiv{
	background-color: 	#2d1006;
	color: white;
}

/*======== left footer =========*/

div.footer-left button , div.footer-left button:hover{
		
		background-color: green;
		border:1px solid green;
		color: white;

}

div.footer-left p{
	text-transform: uppercase;
	font-weight: 500;

}

/*======== center footer =========*/


/*======== right footer =========*/

div.footer-links li{
	list-style-type: none;
	padding-bottom: 4px;

}

div.footer-links a{
	color: white;
}